.MobileMenu {
  position: relative;
  @include desktop {
    display: none;
  }
  .MenuHeader {
    background-color: $primary-color;
    padding: 12px 24px;
    height: 93px;
  }
  .MenuItems {
    top: 93px;
    z-index: 99;
    position: absolute;
    background-color: $primary-color;
    height: calc(100vh - 93px);
    overflow: hidden;
    width: 0%;
    .MenuItem {
      margin: 15px 0px;
      padding: 0px 24px;
      .Icon {
        margin-right: 12px;
      }
      .Avatar {
        margin-right: 12px;
      }
    }
  }
}
