#home {
  background-color: #fbfbfb;
  //   min-height: 100vh;
  .date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    // background: green;
    .date {
      text-align: center;
      padding: 15px 15px;
      margin-top: 10px;
      border-radius: 10px;
      width: 100%;
    }
  }
}
