#t {
  .box {
    width: 80%;
    height: 300px;
    background: gray;
    position: relative;
  }
  .test {
    background: white;
    height: 100px;
    width: 50%;
    border: 1px solid black;
  }
  .ani {
    height: 30px;
    width: 50%;
    background: none;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.3s cubic-bezier(1, -0.71, 0.79, 0.8);
    .ball {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: orange;
      //   position: absolute;
      //   transition: all 0.3s;
      //   left: 25%;
      //   transition: all transform 3s cubic-bezier(0.7, 0.04, 0.66, 1.71);

      //   transition: 1s;
      //   transform: translate(-50%, 0%);
    }
  }
  .right {
    transform: translateX(100%);
  }
}
